[submodule "Assets/MvpCreator"]
	path = Assets/MvpCreator
	url = https://github.com/TimCixo/MVP-Creator.git

[submodule "Assets/EmptyPrefab"]
	path = Assets/EmptyPrefab
	url = https://github.com/TimCixo/Empty-Prefab.git
